.DS_Store
.git
.omo
node_modules
dist
coverage
playwright-report
test-results

mimawiki_backend/node_modules
mimawiki_backend/dist
mimawiki_frontend/node_modules
mimawiki_frontend/playwright-report
mimawiki_frontend/test-results
